<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/test.css' %}" rel="stylesheet"> 
    <style>
        #demo{
            display:flex;
            flex-wrap: wrap;
        }
        h1{
            text-align: justify;
            width:1000px;
            height:1000px;
        }
        div p{
            width:100px;
            height:100px;
        }
    </style>
</head>
<body>
    <div id="demo">
        <p> welcome</p>
        <h1>Starting development server at http://127.0.0.1:8000/
            Quit the server with CONTROL-C.
            'id': 35, 'first_name': 'hnioglrwjilgjqwl;as', 'last_name': 'Last Name', 'email_address': 'Email Address', 'password': 'Password', 'cpassword': 'Cpassword'}
        </h1>
    </div>
</body>
</html>